<nav class="navbar navbar-expand-lg navbar-dark bg-dark faculty-nav">
  <div class="container-fluid">
    <a class="navbar-brand font-label" href="#"></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 c-nav">
        <li class="nav-item">
          <a class="nav-link active font-label" aria-current="page" href="/FacultyLogin">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active font-label" aria-current="page" href="/Compose"
            >Add Student</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active font-label" aria-current="page" href="/StudentList"
            >Student List</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active font-label" aria-current="page" href="/Presenty"
            >Attendance</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active font-label" aria-current="page" href="/FacultyLogin"
            >Logout</a
          >
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link active font-label time" aria-current="page" href="/FacultyLogin">6:00</a
          >
        </li> -->
      </ul>
    </div>
    
  </div>
</nav>
