<%- include('partials/header') %> <%- include('partials/homenavbar') %>

<div class="c-container container">
  <img
    src="https://images.unsplash.com/photo-1525921429624-479b6a26d84d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
    alt=""
    class="blur-img"
  />
  <h1>Student Login</h1>
  <form class="c-prop font-label" action="/StudentLogin" method="post">
    <div class="m-5">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        name="email"
      />
    </div>
    <div class="m-5">
      <label class="form-label">Name</label>
      <input type="text" class="form-control" name="name"/>
    </div>
    <div class="m-5">
      <label class="form-label">Roll No</label>
      <input type="text" class="form-control" name="rollno"/>
    </div>
    <div class="m-5">
      <button type="submit" class="btn btn-primary w-100">Login</button>
    </div>
  </form>
</div>
<%- include('partials/footer') %>
